body {
  font-family: Arial;
  background: linear-gradient(to right, #dff6ff, #ffffff);
  text-align: center;
  margin: 0;
}

header {
  background: #0077b6;
  color: white;
  padding: 20px;
}

.menu {
  margin-top: 50px;
}

.menu a {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  background: white;
  border-radius: 15px;
  text-decoration: none;
  font-size: 20px;
  box-shadow: 0 0 10px gray;
}
